[Unit]
Description=App PostgreSQL 15 Container
After=docker-bootstrap.service
Requires=docker-bootstrap.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/home/app/docker/services/postgres15.sh

[Install]
WantedBy=multi-user.target
