[Unit]
Description=Akkoma App Container
After=docker-bootstrap.service
Requires=docker-bootstrap.service
After=app-redis.service
Requires=app-redis.service
After=app-postgres15.service
Requires=app-postgres15.service
After=app-elasticsearch.service
Requires=app-elasticsearch.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/home/app/docker/services/start-app.sh
ExecStop=/home/app/docker/services/stop-app.sh

[Install]
WantedBy=multi-user.target
