[Unit]
Description=App Valkey Container
After=docker-bootstrap.service
Requires=docker-bootstrap.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/home/foxy/docker/services/start-valkey.sh

[Install]
WantedBy=multi-user.target
