[Unit]
Description=Go-Camo Container
After=docker-bootstrap.service
Requires=docker-bootstrap.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/home/foxy/docker/services/start-gocamo.sh

[Install]
WantedBy=multi-user.target
